
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item></app-recipe-item>
    <a href="" class="list-group-item clearfix mb-2" *ngFor="let recipe of recipes">
      <div class="float-start">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
      </div>
      <span class="float-end">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive">
      </span>
    </a>
  </div>
</div>
